:root{
--mainColor:bisque;
--subColor:rgb(12, 102, 175);



}
*{
  font-family: 'Harmattan', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Kufi Arabic', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Readex Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    
}
body{
height: 100%;

}

.navbar{
padding: 12px;
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
z-index: 999;
background-color: rgb(255, 255, 255);
color: rgb(12, 102, 175);

}

.logo img{
width: 120px;
position: absolute;
top: -10px;
cursor: pointer;
}

.logo img:hover{
 transform: scale(1);
  transition: 0.3s ease;

}
.menu-btn{
color: black;
cursor: pointer;
width: 50px;
font-size: 20px;
position: absolute;
left: 30px;

}

/* side bar */
.sideBar{
  position: absolute;
  top: 60px;
  right: 100%;
  height: 1000px;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.397);
  box-shadow: 0 5px 1px rgb(0, 0, 0,0.1);
  transition: 0.3s;
  z-index: 1000;
  scroll-behavior: smooth;
  visibility:hidden;
  }
  
  .sideBar.active{
    right: calc(100% - 320px);
  visibility: visible;
  }
  .sideContent{
  padding: 30px 16px;
  display: block;
  
  }
  .sideContent li{
  list-style: none;
  text-decoration: none;
  position: relative;
  top: 20px;
  
  }
  .sideContent li a{
  color: #fff;
  
  }
  .navLink{
    align-items: center;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.384);
  padding: 14px 12px;
  display: flex;
  margin: 20px;
  
  }
  .navLink:hover{
  background-color: var(--subColor);
  
  
  }
  
  
  #sideIcons{
  right: 12px;
  position: relative;
  font-size: 20px;
  color: rgb(10, 82, 141);
  }
  #sideIcons:hover{
  color: #fff;
  
  
  }
  
  
  
  #closeBar{
    color:rgb(10, 82, 141);
    z-index: 3;
    position: absolute;
    right: 0;
    top:0px;
    font-size: 25px;
    margin: 20px;
    cursor: pointer;
  
  }
  
  #closeBar:hover{
  transform: scale(1.2);
  
  
  }
  /* sideBar end */

  /* search Bar */
 .searchBar{
margin: 1em 0;

left: 750px;
border-bottom: 2px solid var(--subColor) ;
position: absolute;
}

#searchInput{
border-bottom-color: var(--subColor) ;
background-color: transparent;
 border: none;
 width: 400px;
padding: 5px;
position: relative;
right: 10px;
}


#searchIcon{
position: relative;
right: 30px;
font-size: 20px;
top: 7px;

}
.searchBox{
  position: absolute;
  top: 55px;
  left: 41%;
  height: 400px;
  width: 410px;
  background-color: rgba(0, 0, 0, 0.397);
  box-shadow: 0 5px 1px rgb(0, 0, 0,0.1);
  transition: 0.3s;
  z-index: 1000;
  scroll-behavior: smooth;
transition: 1s;
display: none;
overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.searchProducts{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 0px;
        }
  .searchImage{
  width: 120px;
  height: 120px;
  object-fit: contain;
  
  }
  .searchImage:hover{
    transform: scale(1.2);
  transition: 0.4s;
  }
  .searchProducts{
  display: grid;
  row-gap: 10px;

  }
  .searchTitle{
  font-size: 15px;

  }
  .searchTitle:hover{
transform: translateY(2px);
  }
  /* end */

  /* wishList start */
.wishList{
position: relative;
left: 100px;
}
#wishIcon{
font-size: 25px;
top: 1px;
position: relative;
cursor: pointer;

}
.wishSlide{
  position: absolute;
  top: 55px;
  left: 6%;
  height: 400px;
  width: 310px;
  background-color: rgba(16, 112, 201, 0.26);
  box-shadow: 0 5px 1px rgb(0, 0, 0,0.1);
  transition: 0.3s;
  z-index: 1000;
  scroll-behavior: smooth;
transition: 1s;
display: none;
}
.wishProducts{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 10px;

  position: relative;
  bottom: 0px;
        }
  .wishImage{
  width: 120px;
  height: 120px;
  object-fit: contain;
  
  }
  .wishImage:hover{
    transform: scale(1.2);
  transition: 0.4s;
  }
  .wishProducts{
  display: grid;
  row-gap: 10px;
  
  }
  .wishTitle{
  font-size: 15px;

  }
  .wishTitle:hover{
transform: translateY(2px);
  }

  #closeList{
    color:rgb(10, 82, 141);
    z-index: 3;
    position: absolute;
    left: 0;
    top:0px;
    font-size: 27px;
    margin: 15px;
    cursor: pointer;
  
  }
  
  #closeList:hover{
  transform: scale(1.2);
  
  
  }

  /* end */

  /* whatsapp */
  .whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-icon {
    margin-top: 16px;
  }

/* end */


  .content{
font-size: 15px;
background-image: url(images/backround.png);
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100%;
position: relative;
padding: 0 10%;
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;
}
 .shelf img{
position: absolute;
width: 70%;
left: 50px;
top: 580px;


}
.content h1{
    position: absolute;
   top: 130px; 
   font-size: 50px;
}

.content p{
position: absolute;
top: 270px;
font-size: 20px;
font-weight: 800;
color:  rgb(106, 157, 224);
}
.btn  {
 
  background-color: var(--mainColor);
  border: 0 solid #E5E7EB;

  color: #000000;
  display: flex;
  font-size: 25px;
  font-weight: 800;
 
 
justify-content: center;

  width: 100%;
  max-width: 230px;
position: absolute;
  cursor: pointer;
  transform: rotate(-2deg);
  margin-top: -200px;
}
.btn a{
  color: #020202;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}


  .btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }


  
  
.sec{
padding: 10px;


}
.cart{
width: 250px;
background-color: rgb(12, 102, 175);
box-shadow: 0 10px 20px;
border-radius: 30px;
padding: 5px;
margin-bottom: 20px;
}
.cart img{
height: 250px;


}
.cart img:hover{
   transform: scale(1.2);
   transition: 0.4s ease-in;
    
    
    }
.title{
font-weight: 900;
color: white;
padding: 0 20px;


}    
.desc{
font-weight: bold;
color: white;
padding: 0 20px;

}
.heading{
text-align: center;
margin-bottom: 30px;
position: relative;

}
.heading::before{
content: '';
position: absolute;
top: 50%; left: 0;
transform: translateY(-50%);
width: 100%;
height: 1px;
background-color: rgb(0, 0, 0,0.1);
z-index: -1;

}
 .heading span{
font-size: 40px;
padding: 15px 25px;
color: bisque;
background-color: rgb(255, 255, 255);



 }
.book-slider a{
  display: inline-flex;
  flex-direction: row;
position: relative;
top: 50px;
right: 390px;
margin: -90px;
  }
  .book-slider a img{
    display: grid;
   width: 400px;
  position: relative;
  top: 50px;

     }
     .book-slider a img:hover{
     transform: scale(0.9);
       }



/* featured */
#products{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(320px,1fr));

}


.featuredProducts .featuredSlider .box{
width: 350px;
height: 470px;
margin: 10px;
position: relative;
border: 2px solid rgba(0, 0, 0, 0.39);
text-align: center;


}

.featuredProducts .featuredSlider .box:hover{
border: var(--subColor) solid 2px;


}

.featuredProducts .featuredSlider .image{
padding: 10px;

background: linear-gradient(15deg,#eee 30%,#fff 30.1%);


}
.featuredProducts .featuredSlider .image img{
height: 350px;
width: 450px;
position: relative;
margin-top: 90px;
margin-right: -70px;
}

.featuredProducts .featuredSlider .box .icons{

position: absolute;
top: 0; left: 0; right: 0;

z-index: 1;

}
.featuredProducts .featuredSlider .box .icons a{
color: var(--subColor);
font-size:30px;
padding: 20px;


}
.featuredProducts .featuredSlider .box .icons a:hover{

color: #524e4e;

}
.featuredProducts .featuredSlider .box:hover.icons{
transform: translateY(0%);
  
}
.featuredProducts .featuredSlider .box:hover .image{
transform: translateY(-27px);

}




/* end */

/* box start */
.arrivals-slider{

  width:1400px;
  height: 300px;

  }
 .arrivals-slider .box{
display: inline-flex;
align-items: center;
border: #00000027 solid 0.02px;
justify-content: space-around;
 
}
 .box:hover{
border: var(--mainColor) solid 2px;
}

.box .image{
  background: linear-gradient(15deg,#eee 30%,#fff 30.1%);

}
 .box .image img{
  height: 300px;
  width: 230px;
  position: absolute;
top: 0px;
bottom: 0;
left: 0;
right: 0;

}
.box .content p{
font-size: 13px;
position: relative;
text-align: center;
top: 10px;
}

.box .image img:hover{
  transform: translateY(6px);
  

}
.box .content{
align-items:center ;
position:relative;
margin-right: 220px;
}


.box .content .stars i{
 font-size: 20px;
 color: var(--subColor);
 position:relative;
top: 30px;
    }
.box .content h6{
color: #000;
font-size: 12.5px;
}
/* end */

    /* popup */
.popUP{

z-index: 1000;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
display: none;

}


.popupCard{

position: relative;
display: none;
width: 800px;
height: 500px;
margin: 20px;
display: none;
}

.popupCard.active{
display: flex;
  }
.product-img{
z-index: 2;
background:rgba(161, 160, 160, 0.507);
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 45%;
height: 90%;
border-radius: 20px;
transform: translateY(25px);
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

}

.product-img img{
z-index: 2;
position: relative;
width: 450px;
}
.product-img img:hover{
transform: scale(1.1);
transition: 0.5s ease;

}
.popupCard .info{

z-index: 2;
background: rgba(73, 169, 248, 0.815);
display: flex;
flex-direction: column;
width: 55%;
height: 100%;
box-sizing: border-box;
padding: 40px;
border-radius: 10px;

}

.popupCard .info h2{
font-size: 30px;
line-height: 30px;
margin: 20px;
color: #eee;

}

.popupCard .info h2 span{
font-size: 15px;
text-transform: uppercase;


}
.popupCard .close-btn{
color: var(--subColor);
z-index: 3;
position: absolute;
right: 0;
top: 30px;
font-size: 20px;
margin: 20px;
cursor: pointer;




}
.popupCard .info p{

position: relative;
top: 80px;
font-size: 18px;

}

.popupCard .info .productPrice{
font-size: 19px;
font-weight: 600;
position: fixed;
top: 390px;

}

.popupCard .info .add-cart{
position: absolute;
top: 400px;
right: 700px;
font-size: 45px;
cursor: pointer;
color: #fff;
display: none;
}

.info .add-cart:hover{
  transform: scale(1.4);
  
  
  }

  #record{
display: none;



  }
  .recordIcon{
    position: absolute;
    top: 400px;
    right: 700px;
    font-size: 45px;
    cursor: pointer;
    color: #fff;

  }
/* end */


  /* reviewes */

  
  .card {
    width: 100%;
    height: 300px;
    border-radius: inherit;
  }
  
  .card .front-contentp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card .front-contentp p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: 
 #FFE5C4;
  background: linear-gradient(135deg, #FFE5C4, #0D67AF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    position: relative;
  }
  .contentp p{
position: relative;
top: 10px;
color: #fff;

  }
  .card .contentp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  
  background: #FFE5C4;
  background: linear-gradient(135deg, #FFE5C4, #0D67AF);
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card .content .headingp {
    font-size: 11px;
    font-weight: 700;
    position: relative;
    bottom: 200px;

  }
  
  .card:hover .contentp {
    transform: translateY(0);
  }
  
  .card:hover .front-contentp {
    transform: translateY(-30%);
  }
  
  .card:hover .front-contentp p {
    opacity: 0;
  }
  
/* end */
/* scrollUP */
.scroll{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: -10px;
  left: 40px;
  color:var(--subColor);
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
cursor: pointer;
  z-index: 100;
scroll-behavior: smooth;
}
/* end */

.conLoader{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10000;
background: #fff;

}
.conLoader.active{
display: none;

}
.loader{
position: fixed;
top: 300px;
right: 800px;
}

@media (max-width: 1366px){
.searchBar{
position: absolute;
left: 500px;

}
.btn{
position: absolute;
bottom: 230px;
}
.shelf img{
position: absolute;
left: 100px;
top: 450px;
width:60%;
}

  .content h1{
    position: absolute;
   top: 110px; 
   font-size: 45px;
}

.content p{
position: absolute;
top: 240px;
font-size: 20px;
font-weight: 800;
color:  rgb(106, 157, 224);
}
.book-slider a{
display: inline-flex;
  flex-direction: row;
  
  top: 135px;
  right: 1070px;
  margin: -220px;
    }
    .book-slider a img{

     width: 290px;
 
    top: 50px;
  
       }
       .book-slider a img:hover{
       transform: scale(0.9);
         }
         #products{
          display: grid;
          grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
          
          }
          
          
          .featuredProducts .featuredSlider .box{
          width: 400px;
          height: 400px;
          margin: 10px;
          position: relative;
          border: 2px solid rgba(0, 0, 0, 0.39);
          text-align: center;
          
          }
          
          .featuredProducts .featuredSlider .box:hover{
          border: var(--subColor) solid 2px;
          
          
          }
          
          .featuredProducts .featuredSlider .image{
          padding: 10px;
          
          background: linear-gradient(15deg,#eee 30%,#fff 30.1%);
          
          
          }
          .featuredProducts .featuredSlider .image img{
          height: 280px;
          width: 380px;
          position: relative;
          margin-top: 90px;
          margin-right: -70px;
          }
          
          .featuredProducts .featuredSlider .box .icons{
          
          position: absolute;
          top: 0; left: 0; right: 0;
          
          z-index: 1;
          
          }
          .featuredProducts .featuredSlider .box .icons a{
          color: var(--subColor);
          font-size:30px;
          padding: 20px;
          
          
          }
          .featuredProducts .featuredSlider .box .icons a:hover{
          
          color: #524e4e;
          
          }
          .featuredProducts .featuredSlider .box:hover.icons{
          transform: translateY(0%);
            
          }
          .featuredProducts .featuredSlider .box:hover .image{
          transform: translateY(-27px);
          
          }
          .heading{
            text-align: center;
            margin-bottom: 30px;
            position: relative;
           margin-top: 20px;
            }
            .popUP{

              z-index: 1000;
              position: fixed;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              display: none;
              
              }
              
              
              .popupCard{
              
              position: relative;
              display: none;
              width: 600px;
              height: 400px;
              margin: 20px;
              display: none;
              }
              
              .popupCard.active{
              display: flex;
                }
              .product-img{
              z-index: 2;
              background:rgba(161, 160, 160, 0.507);
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 45%;
              height: 90%;
              border-radius: 20px;
              transform: translateY(25px);
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              
              }
              
              .product-img img{
              z-index: 2;
              position: relative;
              width: 350px;
              }
              .product-img img:hover{
              transform: scale(1.1);
              transition: 0.5s ease;
              
              }
              .popupCard .info{
              
              z-index: 2;
              background: rgba(73, 169, 248, 0.815);
              display: flex;
              flex-direction: column;
              width: 55%;
              height: 100%;
              box-sizing: border-box;
              padding: 40px;
              border-radius: 10px;
              
              }
              
              .popupCard .info h2{
              font-size: 25px;
              line-height: 25px;
              margin: 0px;
              color: #eee;
              
              }
              
              .popupCard .info h2 span{
              font-size: 13px;
              text-transform: uppercase;
              
              
              }
              .popupCard .close-btn{
              color: var(--subColor);
              z-index: 3;
              position: absolute;
              right: 0;
              top: 30px;
              font-size: 20px;
              margin: 20px;
              cursor: pointer;
              
              
              
              
              }
              .popupCard .info p{
              
              position: relative;
              top: 50px;
              font-size: 18px;
              
              }
              
              .popupCard .info .productPrice{
              font-size: 17px;
              font-weight: 600;
              position: fixed;
              top: 235px;
              
              }
              
              
             
               
                .recordIcon{
                  position: absolute;
                  top: 50px;
                  right: 530px;
                  font-size: 45px;
                  cursor: pointer;
                  color: #fff;
              
                }         
                .searchBox{
                  position: absolute;
                  top: 55px;
                  left: 40.5%;
                  height: 370px;
                  width: 320px;
                  background-color: rgba(0, 0, 0, 0.397);
                  box-shadow: 0 5px 1px rgb(0, 0, 0,0.1);
                  transition: 0.3s;
                  z-index: 1000;
                  scroll-behavior: smooth;
                transition: 1s;
                display: none;
                overflow: scroll;
                }
                .sideBar{
                  position: absolute;
                  top: 60px;
                  right: 100%;
                  height: 800px;
                  width: 300px;
                  background-color: rgba(0, 0, 0, 0.397);
                  box-shadow: 0 5px 1px rgb(0, 0, 0,0.1);
                  transition: 0.3s;
                  z-index: 1000;
                  scroll-behavior: smooth;
                  visibility:hidden;
                  
                  }
                  
                  .sideBar.active{
                    right: calc(100% - 300px);
                  visibility: visible;
                  }
                  .loader{
                    position: absolute;
                    top: 150px;
                    right: 560px;
                          }
}
